.demo {
    width: 850px;
    height:inherit!important;
    //min-height:110vh;
    margin: 60px auto 0;
    padding:20px; 
    text-align:center;
    border-radius:10px;
    background-color: rgba(255, 255, 255, 0.5);
    @media only screen and (max-width: 1024px){
        width:98%;
        position:absolute;
        top:70px;
        left:1%;
    }
    @media only screen and (max-width: 767px) {
        width:90%;
        position:absolute;
        top:70px;
        left:51%;
        transform:translateX(-50%);
        -webkit-transform:translateX(-50%);
        -o-transform:translateX(-50%);
        -moz-transform:translateX(-50%);
    }
    @media only screen and (max-width: 540px) {
        width:90%;
        position:absolute;
        top:60px;
        left:50%;
        transform:translateX(-50%);
        -webkit-transform:translateX(-50%);
        -o-transform:translateX(-50%);
        -moz-transform:translateX(-50%);
    }
    .element { 
        width: 236px; 
        display:inline-flex;
        margin-right: 20px;
        @media only screen and (max-width: 1024px) {
            width: 32%;
        }
        @media only screen and (max-width: 767px) {
            width: 48%;
        }
        @media only screen and (max-width: 540px) {
            width: 100%;
        }   
        

        div {
            display:inline-block;
            border: 2px solid #eee;
            background: #eee;
            text-align:left;
            margin-bottom: 20px;
            cursor: pointer;
            transition:all 0.3s ease-in-out;

            ul {
                margin:8px auto;
                text-align:center;
                li {
                    padding:4px 20px;
                    margin:4px;
                    background-color:#01BE98;
                    border-radius:4px;
                    text-align:center;
                    a {
                        color:#fff;
                    }
                }
            }

            .skill {
                background-color: #99BBDD;
                border-radius: 5px;
                margin: 4px 4px;
                padding: 2px 8px;
                font-size:14px;
            }
            

            img {
                width: 214px; 
                display: block;
                @media only screen and (max-width: 1024px) {
                    width: 100%;
                } 
            }

            p{ 
                font-size: 1em;
                padding:10px;
                white-space: pre-wrap; 
                word-wrap:break-word; 
                word-break:break-all;
                line-height:1.5;
                text-indent:28px;

                a{
                    color:#FF6347;
                }
            }

            &:hover{
                transform:scale(1.04);
                -webkit-transform:scale(1.04);
                -o-transform:scale(1.04);
                -moz-transform:scale(1.04);
            }
        }


    }
}
