---
layout: page
title: "About"
description: "你没有如期归来，而这正是离别的意义"
header-img: "img/about-bg.jpg"
---


<div style="text-align: center">
    <h3>听首歌吧</h3>
    <br>
    <div class="music">
        <audio controls="controls" autoplay="true">  
            <source src="http://o9r9kpwmc.bkt.clouddn.com/music/%E6%9C%B4%E6%A0%91%20-%20%E9%82%A3%E4%BA%9B%E8%8A%B1%E5%84%BF.mp3" /> 
            <source src="http://o9r9kpwmc.bkt.clouddn.com/music/%E6%9C%B4%E6%A0%91%20-%20%E9%82%A3%E4%BA%9B%E8%8A%B1%E5%84%BF.wav" /> 
        </audio>
    </div>
    <p class="introduction">
<!--         中南大学17届本科毕业生，自动化专业。<br>
        现已签约深信服科技。<br>
        玩过单片机，做过电子小玩意，本想在嵌入式方面做些努力，后来接触了点前端，觉得有趣，遂入坑。<br/>
        喜欢有趣的人和事，喜欢听歌、运动，热爱篮球，NBA球迷，喜欢的球星是 Kobe Bryant、Russell Westbrook。<br>
        爱读闲书，对生活本身怀有许多疑问，迷惑于岁月变幻。<br>
        <br> -->
        “那一天我二十一岁，在我一生的黄金时代，我有好多奢望。我想爱，想吃<br>
        还想在一瞬间变成天上半明半暗的云<br>
        后来我才知道，生活就是个缓慢受锤的过程，人一天天老下去，奢望也一天天消逝<br>
        最后变得像挨了锤的牛一样<br>可是我过二十一岁生日时没有预见到这一点。我觉得自己会永远生猛下去，什么也锤不了我。”
        
    </p>
  </div>



  {% if site.duoshuo_username %}
  <!-- 多说评论框 start -->
  <div class="comment">
      <div class="ds-thread"
          data-thread-key="{{page.id}}"
          data-title="{{page.title}}"
          data-url="{{site.url}}{{site.baseurl}}{{page.url}}" >
      </div>
  </div>
  <!-- 多说评论框 end -->
  {% endif %}

{% if site.duoshuo_username %}
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"zebrass"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
<!-- 多说公共JS代码 end -->

{% endif %}


{% if site.disqus_username %}
<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{page.id}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}