.about-me {

    h3{
        text-align:center;
    }

    .music {
        margin: 20px;
        text-align: center;
    }

    p{
        font-size: 16px;
        line-height: 1.4;

        a{
            color:#99BBDD;
            text-decoration: none;
        }
    }
    li {
        line-height:1.4;
    }
}




