<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ site.title + page.title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">

    <!-- CSS -->                       
    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/index.css">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <style>
         body {
            background-image: url(http://o9r9kpwmc.bkt.clouddn.com/blog/backgroud.jpg)!important;
            background-repeat: no-repeat;
            background-size: 100% 102%;
         }
    </style>
</head>
<body>
    
    <div class="wrap">          
    {% include header.html %}    
        {{ content }}
    
        <!--回到顶部-->
        <a id="returnTop"></a>
    </div>
    <script async type="text/javascript" src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    
</body>
</html>
